{% extends 'base.html.twig' %}
{% block body %}

<label class="label1 text-center">LOGIN</label>

<form action={{path("login")}} method="post">
	<div class="label text-center">
	<label class="username">Username</label>
      <input type="text" name="_username">
    </div>
    <div class="text-center">
      	<label class="passwordlabel">Password</label>
		<input type="password" name="_password" >
	</div>
	<div class="text-center">
		<input type="submit" name="button" id="button" value="Aceptar">
	<br />
		<input type="reset" name="reset" id="reset" value="Limpiar">
	</div>
</form>
{% endblock %}