{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">                
                <div class="col-md-6">
                    <div class="mdl-card" id="data">
                        <form action={{path( "adduser")}} method="post">
                            <p class="titulo"><strong> <h6>Registro Vecinos</h6></strong></p>
                            <!--Div para User y Pass-->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="vecino" id="vecino">
                                <label class="mdl-textfield__label" for="vecino">Nombre Vecino</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="mail" id="usermail">
                                <label class="mdl-textfield__label" for="usermail">Email</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="secondmail" id="secondmail">
                                <label class="mdl-textfield__label" for="secondmail">Reingrese EMail</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="pass" id="password_user">
                                <label class="mdl-textfield__label" for="password_user">Contraseña</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="secondpass" id="second_password_user">
                                <label class="mdl-textfield__label" for="second_password_user">Reingresar Contraseña</label>
                            </div>                                

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" name="sector" id="sectoruser">
                                    <option value="SectorA">SectorA</option>
                                    <option value="SectorB">SectorB</option>
                                    <option value="SectorC">SectorC</option>
                                    </select>
                                <label class="mdl-textfield__label" for="sectoruser">Sector</label>
                            </div> 
                            <br></br>
                            <!--Button-->
                            <button type="reset" value="Resetear" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Resetear
                            </button>
                            
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                                Agregar
                            </button>
                            <p style="color:red;"></p>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                     <img class="img" src="http://cubacute.com/wp-content/uploads/2016/10/abeja-10.jpg">              
                 </div>
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #263238;
}

.mdl-card{     
    text-align: center;    
    width: 100%;
    top:15%;  
    height:auto;
}

.img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

#data{
    left:5%;
    top: 0%;
    height:auto;
}
</style>
{% endblock %}
