{% extends 'baseNav.html.twig' %}

{% block AdminUser %}  
    <div class="avatarusuario" align="center"> 
          {% if role == "ROLE_ADMIN" %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXyeS11Jc0Lsjvjq-c0QUUViv9fehU--5jJ2jAdBrHQPVvVg8jIQ" class="avatar">
          {% endif %}
          {% if role == "ROLE_USER" %}
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmPMIRDYuNJlAKIX73Or3evfjKCHhcAzBOUkM5wSCLE4Y8vb9h3Q" class="avatar">
          {% endif %}
    <p><strong> {{username}} </strong></p>
    </div>
{% endblock %}

{% block AdminOption %}
 {% if role == "ROLE_ADMIN" %}            
                <a href={{path("allusers")}} class="mdl-navigation__link" href="allusers"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>&nbsp; &nbsp;Gestion Usuarios</a>
 {% endif %}          
          
{% endblock %}


{% block body %}
          <h1> BIENVENIDO </h1>   
{% endblock %}




{% block stylesheets %}
<style>
 .avatar {
  width: 65px;
  height: 65px;
  border-radius: 25px;
}
</style>
{% endblock %}