{% extends 'baseNav.html.twig' %}

{% block body %}
  <div class="title">
        <i style="font-size:200px;" class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>
        <h1 style="color:#78909c;">¡Bienvenido!</h1>
  </div>
{% endblock %}




{% block stylesheets %}
<style>
.title {
  height:100%;
  text-align: center;
      padding-left: 40%;
    padding-top: 15%;
}
</style>
{% endblock %}