{% extends 'base.html.twig' %}
{% block body %}
<div class="cover">
    <div class="bg"></div>
    <div class="title">
        <form method="post">
            <a href="{{path('dashboard')}}">
                <img class="logo" style="border: 0;" src="http://publish.uwo.ca/~hamendt/WD%20final%20Project/images/home.png" />
            </a>
        </form>
        <div class="text">
            Hacienda Real
        </div>
        <div class="desc">
            Bienvenidos a la Hacienda Real.
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
.bg {
  background-image: url(https://www.artescritorio.com/wp-content/uploads/2011/07/wallpaper-1005817.jpg);
  filter: blur(10px);
  height: 110%;
  width: 110%;
  position: fixed;
  top: -1%;
  left: -1%;
  right: 0;
  transition: all 1000ms;
  background-size: 100%;
  background-position: center;
}

.bg:hover{
  filter: blur(0px);
  background-size: 110%;
  background-position: center;
}

.title {
  font-family: Raleway;
  max-width: 25%;
  height: auto;
  z-index: 3;
  top: 50%;
  margin-top: -15%;
  left: 50%;
  margin-left: -14%;
  position: absolute;
  color: #fff;
  text-align: center;
  transition: all 1000ms;
}
/*
.cover:hover .title {
  filter: blur(2px);
}*/

.text {
  max-width: 100%;
  height:auto;
  font-size: 200%;
  margin-top: 25%;
}

.desc {
  max-width: 100%;
  height:auto;
  font-size: 150%;
  margin-top: 10%;
}

.logo {
  max-width: 65%;
  height: auto;
  margin-top: 10px;
}
</style>
{% endblock %}