
{% extends 'base.html.twig' %}
{% block body %}
<!--Para mobiles-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Div para Imagen
<hgroup class="Titulo">
    <h1>Ingreso Hacienda Real</h1>
</hgroup>
-->
<div class="mdl-card mdl-shadow--2dp through mdl-shadow--16dp">

    <table >
        <tr>
            <td align="left">
                <!--Div para Imagen-->
                <div class="mdl-card__media">
                    <img class="img" src="https://hdqwalls.com/wallpapers/black-green-material-design-hd.jpg">
                </div>
            </td>
            <td align="center">
                <p class="titulo" size="3"><strong> Ingreso Nueva Hacienda</strong></p>
                <div class="mdl-card__supporting-text">
                    <!--Div para User y Pass-->
                    <form action={{path("login")}} method="post">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="_username" id="user">
                            <label class="mdl-textfield__label" for="user">Usuario</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="password" name="_password" id="password_user">
                            <label class="mdl-textfield__label" for="password_user">Contraseña</label>
                        </div>
                </div>
                <!--Button-->
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                    Ingreso
                </button>
                </form>
                
            </td>
        </tr>
    </table>

</div>

{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #263238;
}

.Titulo {
    text-align: center;
    margin-top: 4em;
}

.mdl-card{   
     width: 800px;
     height: 500px;
     position:absolute;
     top: 150px;
    right: 400px;   
}

.mdl-card__supporting-text{
}

.mdl-card__media{
}

.img{
     width: 450px;
     height: 500px;
}
/*
.mdl-textfield__input {
    font-size: 16px;
    color: #D32F2F;
    width: 100%;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #F44336;
}

.mdl-textfield.is-focused .mdl-textfield__label {
    color: #F44336;
}

.mdl-textfield__label:after{
    background-color: #F44336;
}
*/
.mdl-button { 
  margin-bottom: 25px;
  margin-right: -25px;
}
</style>
{% endblock %}