{% extends 'base.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">                
                <div class="col-md-6">
                    <div class="mdl-card" id="data">
                        <form action={{path( "adduser")}} method="post">
                            <p class="titulo"><strong> <h6>Registro Usuarios</h6></strong></p>
                            <!--Div para User y Pass-->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="usuario" id="user">
                                <label class="mdl-textfield__label" for="user">Usuario</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="mail" id="usermail">
                                <label class="mdl-textfield__label" for="usermail">Email</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="secondmail" id="secondmail">
                                <label class="mdl-textfield__label" for="secondmail">Reingrese EMail</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="pass" id="password_user">
                                <label class="mdl-textfield__label" for="password_user">Contraseña</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="password" name="secondpass" id="second_password_user">
                                <label class="mdl-textfield__label" for="second_password_user">Reingresar Contraseña</label>
                            </div>                                

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <select class="mdl-textfield__input" name="rol" id="roluser">
                                    <option value="ROLE_USER">Usuario</option>
                                    <option value="ROLE_ADMIN">Administrador</option>
                                    </select>
                                <label class="mdl-textfield__label" for="roluser">Rol</label>
                            </div> 
                            <br></br>
                            <!--Button-->
                            <button type="reset" value="Resetear" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Resetear
                            </button>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                                Agregar
                            </button>
                            <p style="color:red;">{{error}} </p>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                     <img class="img" src="https://i.pinimg.com/736x/80/b3/36/80b336d91d38ae963167bfb6979625a4--english-patio-small-english-garden.jpg">              
                 </div>
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #263238;
}

.mdl-card{     
    text-align: center;    
    width: 100%;
    top:15%;  
    height:auto;
}

.img{
    max-width: 100%;
    height:auto;
}

#data{
    top: 0%;
    height:auto;
}
</style>
{% endblock %}
