{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">                
                <div class="col-md-12">
                <div align="left">
                        <a class="mdl-navigation__link" href={{path("allresidents")}} href="/allresidents" >
                            <button class="mdl-button mdl-js-button mdl-button--primary">
                            <i class="material-icons">keyboard_arrow_left</i>
                            </button>
                        </a>
                           </div>
                        <form action={{path("addresident")}} method="POST">
                        <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/house-icon.png" style="width:15%;">
                        <p><strong> <h4>REGISTRO VECINO</h4></strong></p>
                           
                            <!--Div para User y Pass-->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="firstname">
                                <label class="mdl-textfield__label" for="firstnamee">Nombre</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="secondname">
                                <label class="mdl-textfield__label" for="secondname">Apellido</label>
                            </div>

                             <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="DPI" placeholder="1234 12345 1234" 
        pattern="\d{4} \d{5} \d{4}|\d{13}" min="13" maxlength="15">
                                <label class="mdl-textfield__label" for="DPI">DPI</label>
                                <span class="mdl-textfield__error">Ingrese número de DPI</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="email">
                                <label class="mdl-textfield__label" for="email">Email</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="tel" name="phone" placeholder="8888 8888" 
        pattern="\d{4}-\d{4}|\d{8}|\d{4} \d{4}" min="8" maxlength="9">
                                <label class="mdl-textfield__label" for="phone">Telefono</label>
                                <span class="mdl-textfield__error">Ingrese número de telefono</span>
                            </div>

                            <!--Button-->
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset">
                                Reiniciar
                            </button>
                             &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit">
                                Agregar
                            </button>   
                            
                            <br></br>                                             
                            <label style="color: red;font-weight: bold;">{{error}}</label>
                        </form>
                    </div>
                <!--Button
                <div class="col-md-6">
                     <img class="img" src="http://cubacute.com/wp-content/uploads/2016/10/abeja-10.jpg">              
                 </div>
                 -->
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}

.mdl-card{  
    text-align: center;   
	padding-left:5%;  
	padding-right:5%;   
    width: 100%;
    padding-top:3%;  
    height:auto;
}


.mdl-button.mdl-button--colored {
	
}

.mdl-button.mdl-button--colored:hover{
	background-color: #B2DFDB;
	color:#212121;
}

.mdl-textfield{
	width: 100%;
}

.img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

</style>
{% endblock %}
