{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">              
                <div class="col-md-12">  
                               
            </div>
          </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #F5F5F5;
}

.mdl-card{  
    text-align: center;   
	padding-left:5%;  
	padding-right:5%;   
    width: 100%;
    padding-top:3%;  
    height:auto;
}


</style>
{% endblock %}
