{% extends 'baseNav.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="row">      
        <div class="col-md-3"></div>
        <div class="col-md-6">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp through mdl-shadow--16dp" cellspacing="0" height="auto" max-width="100%" width="100%">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Activo</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            {% for i in usuarios|keys %}
                            <tr>
                                    <td> {{ usuarios[i]['username']}} </td>
                                    <td> {{ usuarios[i]['email']}} </td>
                                    <td> {{ usuarios[i]['role']}} </td>
                                    {% if usuarios[i]['isActive']== true %}
                                        <td> Activo </td>
                                    {% else %}
                                        <td> Deshabilitado </td>
                                    {% endif %}
                                    <td> 
                                    <a href="{{ url('updateuser',{'username': usuarios[i]['username']}) }}"
                                    <button type="submit" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </a>
                                    </td>                         
                            </tr>
                            {% endfor %}                        
                    </tbody>
                </table>
            </div>    
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}




{% block stylesheets %}
<style>
body {
}
.mdl-data-table{
    top:40%;
}

.mdl-data-table th {
    background-color: rgb(0,150,136);
    color: #ffffff;
}

</style>
{% endblock %}