{% extends 'baseNav.html.twig' %}
{% block body %}
<!doctype html>
<div class = "container-fluid">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"> 
          <div class="mdl-card mdl-card--border mdl-shadow--16dp">
            <div class="row" id="contenedor">              
                <div class="col-md-6">
                    <div class="mdl-card" id="data">
                        <form action={{path( "addresident")}} method="post">
                            <p class="titulo"><strong> <h6>Update Vecinos</h6></strong></p>
                            <!--Div para User y Pass-->
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" name="vecino" id="vecino" value="Pablo  Queme">
                                <label class="mdl-textfield__label" for="vecino">Nombre Vecino</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="DPI" value="123456789">
                                <label class="mdl-textfield__label" for="DPI">DPI</label>
                                <span class="mdl-textfield__error">Ingrese número de DPI</span>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="mail" id="usermail" value="abcd@gmail.com">
                                <label class="mdl-textfield__label" for="usermail">Email</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="mail" name="secondmail" id="secondmail" value="abcd@gmail.com">
                                <label class="mdl-textfield__label" for="secondmail">Reingrese EMail</label>
                            </div>

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="phone" value="88888888" >
                                <label class="mdl-textfield__label" for="phone">Telefono</label>
                                <span class="mdl-textfield__error">Ingrese número de telefono</span>
                            </div>
                            
										<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="habilitado">									
										<input type="checkbox" value="habilitado" name="habilitado" id="habilitado" class="mdl-checkbox__input" checked>
										<span class="mdl-checkbox__label">Habilitado</span>
										</label>
						    									 
															
                            <br></br>
                            <!--Button-->
                            <button type="reset" value="Resetear" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                Cancelar
                            </button>
                            
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
                                Actualizar
                            </button>
                            <p style="color:red;"></p>
                        </form>
                    </div>
                </div> 
                <div class="col-md-6">
                     <img class="img" src="http://artshomeremodeling.com/wp-content/uploads/2015/03/to-build-a-home.jpg">              
                </div>                 
            </div>
          </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<style>
body {
    background: #263238;
}

.mdl-card{     
    text-align: center;    
    width: 100%;
    top:15%;  
    height:auto;
}

.img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

#data{
    left:5%;
    top: 0%;
    height:auto;
}
</style>
{% endblock %}
